<h2>Sensores</h2>
<div class="table-responsive">
  <hr />


  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Tipo Sensor</th>
        <th>Estado</th>
        <th>Temperatura</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sensor of sensores; index as i">
          <td>{{ sensor.id }}</td>
          <td>{{ sensor.codigo }}</td>
          <td>{{ sensor.sensor }}</td>
          <td><!--{{ sensor.tipoSensor.tipo }}--></td>
          <td>{{ sensor.estado }}</td>
          <td>{{ sensor.temperatura }}</td>
        </tr>
      </tbody>
  
  </table>

</div>
