<div class="row">
  <div class="col">
    <h2 class="float-left">Sensores</h2>
  </div>

  <div class="col">
    <span class="float-right"
      ><a
        routerLink="/sensores/new"
        type="button"
        class="btn pull-right"
        id="boton-add"
        >Agregar Sensor</a
      ></span
    >
  </div>
</div>

<div class="table-responsive">
  <hr />

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Elemento asociado</th>
        <th>Tipo Sensor</th>
        <th>Estado</th>
        <th>Temperatura</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensores; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ sensor.codigo }}</td>
        <td>{{ sensor.sensor }}</td>

        <div *ngIf="sensor.elemento == null; then content; else other_content">
          here is ignored
        </div>
        <ng-template #content
          ><td>-</td></ng-template
        >
        <ng-template #other_content><td>{{ sensor.elemento.elemento }}</td></ng-template>

        <td>{{ sensor.tipos_sensore.tipo_sensor }}</td>
        <td>{{ sensor.estado }}</td>

        <div
          *ngIf="
            sensor.tipos_sensore.tipo_sensor === 'TEMPERATURA';
            then content;
            else other_content
          "
        >
          here is ignored
        </div>
        <ng-template #content
          ><td>{{ sensor.temperatura }}</td></ng-template
        >
        <ng-template #other_content><td>-</td></ng-template>

        <td>
          <a routerLink="/sensores/{{ sensor.codigo }}"
            ><i class="fa fa-remove"></i
          ></a>
        </td>
        <td>
          <a routerLink="/sensores/{{ sensor.codigo }}"
            ><i class="fa fa-pencil"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <p>Para ingresar correctamente un sensor, primero debe ingresar el Tipo de Sensor (si no existe) y el Elemento al cual se va a asociar, desde las pestañas correspondientes.</p>
</div>
