/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root {
  --blanco: #ffffff;
  --oscuro: #000000;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #a09e9e;
  --grisClaro: #dfe9f3;
}

html {

  min-height: 100%;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
 
  font-family: "Trirong", serif;
  background-image: linear-gradient(
    to top,
    var(--gris) 0%,
    var(--grisClaro) 100%
  );
}

#boton-add {

  color: var(--primario);
}

#boton-add:hover {

  color: var(--oscuro);
  background-color: var(--primario);
}

.input-group input {
  margin-bottom: 2rem;
}